.header {
    width: 400px;
    margin: 0 auto;
    border: hidden;
    overflow: hidden;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    img

{
    width: 100%;
    height: auto;
}

}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    10% {
        transform: translatey(0px);
    }
}

.logopogo {
    width: 600px;
    margin: 0 auto;
    img

{
    width: 600px;
}

animation: effect;
}
